<a href="https://colab.research.google.com/github/virositebuddy/python/blob/main/python_class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#PYTHON BASIC

In [ ]:
#print function
print("resume :")
print("name : vinay santosh kulkarni")
print("address : \t plot no 45,tornagadnagar,n2,cidco,aurangabad")
print("education : btech ")
print(" contact : 8767XXXXXX")
print(" age : 20 ")

In [ ]:
# arthimetic opertion
a = int(input("enter number A: "))
b = int(input("enter number B: "))
add = a + b
sub = a - b
multi = a * b
division  = a/b
floordivision = a // b
modulus = a % b
expo = a ** b
print("addition :",add)
print("subtraction :",sub)
print("multiplication :",multi)
print("division :",division)
print("floordivision:",floordivision)

enter number A: 12
enter number B: 45
addition : 57
subtraction : -33
multiplication : 540
division : 0.26666666666666666
floordivision: 0

In [ ]:
#centimeter to meter
cm = int(input("enter value :"))
m = cm/1000
print("converion in meter :",m)

In [ ]:
#sum of three number
d1=int(input('enter number : '))
s= d1%10
d1=d1//10
s+=d1%10
d1=d1//10
s+=d1%10
print("addition of digit : ",s)

In [ ]:
#swapping of 2 numbers
a=int(input("Enter Number 1 :"))
b=int(input("Enter number 2 :"))
print("Before Swapping")
print("a=",a)
print("b=",b)
c=a
a=b
b=c
print("After Swapping")
print("a=",a)
print("b=",b)

In [ ]:
#bitwise operators
a = 2
b = 1
c = 5
d = 6
e = 7
bit = a>>b<<c|d&e
print(bit)

#list

In [ ]:
#list project
product = ['mobile','tv','monitor','mouse','key']
price = [1200,2000,3000,4000,4000]
qty  = [1,2,4,1,3]
serial = [1,2,3,4,5]
amt = [price[0]*qty[0],price[1]*qty[1],price[2]*qty[2],price[3]*qty[3],price[4]*qty[4]]
print("\t","~GADA ELECTRONICS~")
print("---------------------------------------")
print("No:","\t product","\t","price","\t","qty","\t","amt")
print(serial[0],":","\t",product[0],"\t",price[0],"\t",qty[0],"\t",amt[0])
print(serial[1],":","\t",product[1],"\t\t",price[1],"\t",qty[1],"\t",amt[1])
print(serial[2],":","\t",product[2],"\t",price[2],"\t",qty[2],"\t",amt[2])
print(serial[3],":","\t",product[3],"\t\t",price[3],"\t",qty[3],"\t",amt[3])
print(serial[4],":","\t",product[4],"\t\t",price[4],"\t",qty[4],"\t",amt[4])
print("_____________________________________________________________________")
print("\t\t\t\t","total =",amt[0]+amt[1]+amt[2]+amt[3]+amt[4],"\t")
print(" ")
print("~~~~~~~~~~~~~~~~~~~~THANKS FOR VISITING~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~")

In [ ]:
#user defined list
l1 = []#make a blank list and append the l1.append 10 times to take 10 value as input
l1.append (int(input("enter first value:")))
l1.append (int(input("enter second value:")))
l1.append (int(input("enter third value:")))
l1.append (int(input("enter fourth value:")))
l1.append (int(input("enter fivth value:")))
l1.append (int(input("enter sixth value:")))
l1.append (int(input("enter seventh value:")))
l1.append (int(input("enter eighth value:")))
l1.append ( int(input("enter ninth value:")))
l1.append (int(input("enter tenth value:")))
print("orginal list:"",\n",l1)
l1.sort()
print("sort value",l1)
l1.reverse()
print("reversed",l1)
print(type(l1))

In [ ]:
class_1 = [['vinay',87,76,76,87,76],['pratham',54,74,97,98,98]]
class_2 = [['dattu',32,87,62,21,12],['aamdas',12,65,65,38,61]]
print("class_1",class_1)
print("class_1 chi division ",class_1[0])
print("class_1 chi student cha nav : ",class_1[0][0])
print("class_1 chya studnt cha marks :",class_1[0][1])

#conditional statement

In [ ]:
#IF ELSE
#program for even and odd
num = int(input("enter a number:"))
if(num%2==0):
  print("it is a even number:")
else:
  print("its is a odd number:")

enter a number:87
its is a odd number:

In [ ]:
#write a program to check whther number is in 1 to 10  or not
num = int(input("enter a number"))
if(num>1 and num<10):
  print("it is between 1 and 10")
else:
  print("it is not between 1 and 10")

enter a number2
it is between 1 and 10

In [ ]:
#write a program to vote
person = int(input("enter any number:"))
if(person>=18):
  print("person can vote")
else:
  print("person do not vote")

enter any number:45
person can vote

Elif if statement.

In [ ]:
#write a program to know if given number is zero,negative or postive
num = int(input("enter a number :"))
if(num==0):
  print("it is zero")
elif(num>0):
  print("its postive number ")
else:
  print("its negative number ")

enter a number :76
its postive number

In [ ]:
#write a program to print a week and month
num = int(input("enter a number :"))
if(num==1):
  print("its monday")
elif(num==2):
  print("its tuesday")
elif(num==3):
  print("its wednesday")
elif(num==4):
  print("its thrusday")
elif(num==5):
  print("its friday")
elif(num==6):
  print("its saturday")
elif(num==7):
  print("its sunday")
else:
  print("its an erorr")

enter a number :5
its friday

In [ ]:
#program 2

#calculation of Gross salary
bs = int(input("enter basic salary :"))
if bs<=10000:
  da=bs*0.2
  hra=bs*0.8
elif bs<=20000 and bs>10000:
  hra=bs*0.9
  da=bs*0.25
else:
  da=bs*0.3
  hra=bs*0.95
gs=bs+da+hra
print("gross salary :",gs)

In [ ]:
#program 4

#overtime pay
no_hrs=int(input("enter no of hours : "))
extra = no_hrs + 40
overtime=extra*12
if no_hrs>40:
  print("overtime pay is Rs.{} ".format(overtime))
else:
  print("pay extra",no_hrs)

enter no of hours : 32
pay extra 32

NESTED IF STATEMENT

In [ ]:
#write a program he or she can marry or not
age = int(input("enter a age :"))
if(age<18):
  print("both are not allowed")
elif(age>18):
  print("girl can marry")
  if(age>21):
   print("boy can marry")

enter a age :21
girl can marry

In [ ]:
#program to wish accornding to time
time = int(input("enter a Time :"))
if(time<12):
  print("Good Morning Sir")
elif(16>time>12):
  print("good afternoon Sir")
elif(20>time>16):
  print("good evening Sir")
else:
  print("good night Sir")

enter a Time :17
good evening Sir

In [ ]:
#prctical no 5
#the speed of the drivers

speed=int(input("enter speed :"))
if speed<=70:
  print("OK")
else:
  speed1=(speed-70)/5
  if speed<=12:
    print("points",speed1)
  else:
    print("Points",speed1)
    print("License ssupended")

enter speed :11
OK

In [ ]:
import time
timestamp = (time.strftime('%H:%M:%S'))
print(timestamp)
timestamp = time.strftime('%H')
print(timestamp)
timestamp = time.strftime('%M')
print(timestamp)
timestamp = time.strftime('%S')
print(timestamp)
# https://docs.python.org/3/library/time.html#time.strftime

14:12:25
14
12
25

MATCH CASE

In [ ]:
x = int(input("enter a number"))
# x is the variable to match
match x:
    # if x is 0
    case 0:
        print("x is zero")
    # case with if-condition
    case 4 if x % 2 == 0:
        print("x % 2 == 0 and case is 4")
    # Empty case with if-condition
    case _ if x < 10:
        print("x is < 10")
    # default case(will only be matched if the above cases were not matched)
    # so it is basically just an else:
    case _:
        print(x)

enter a number9
x is < 10

#Loops

FOR LOOP :

In [ ]:
#for iletration of string
name = "vinay"
for i in name :
  print(i ,end=",")

v,i,n,a,y,

In [ ]:
#for ilterartion of list
a = [12,23,45,56]
for i in a:
  print(i, sep = "/")

12
23
45
56

In [ ]:
#write a program to display each charcter in string
name = "python"
n = len(name)
for i in range(n):
  print(name[i])

p
y
t
h
o
n

In [ ]:
#write a program to display and find the sum of list of numbers using for loop
list1 = [12,23,34,56]
sum = 0
for i in list1:
  print(i)
  sum+=i
print("sum:",sum)

12
23
34
56
sum: 125

In [ ]:
#range
for i in range(1,100):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

 While loop

In [ ]:
x = 1
while(x<5):
  print(x)
  x+=1
print("end the loop")

1
2
3
4
end the loop

In [ ]:
x = 100
while(x>=100 and x<=200):
  print(x)
  x+=1

100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200

In [ ]:
m = int(input("enter a value :"))
n = int(input("enter a value :"))
x = m
if x % 2!=0:
  x+=1
while(x>=m and x<=n):
 print(x)
 x+=2

enter a value :23
enter a value :67
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66

In [ ]:
#to find the sum of the of list of numbers
list1 = [10,23,45,67]
i = 0
sum = 0
while(i<len(list1)):
  print(list1[i])
  sum+=list1[i]
  i+=1
print("sum of the list is {}".format(sum))

10
23
45
67
sum of the list is 145

In [ ]:
#factoral
n = int(input("enter a number :"))
fac = 1
for i in range(1,n+1):
  print(i)
  fac*=i
print("factorial of {} is {}".format(n,fac))

enter a number :5
1
2
3
4
5
factorial of 5 is 120

In [ ]:
n = int(input("enter a number:"))
fac = 1
i = 1
while(i<n+1):
  print(i)
  fac*=i
  i+=1
print("factorial of {} is {} ".format(n,fac))

enter a number:2
1
2
factorial of 2 is 2

In [ ]:
#program 2
#write a program to check whether given number is Palindrome or not

num=int(input("enter a value :"))
temp=num
rev=0

while(num>0):
 rem=num%10
 rev=rev*10+rem
 num=num//10

if(temp==rev):
  print("this value is a palindrome number")
else:
  print("this value is not a palindrome number")

In [ ]:
#program 3
#write a program to check whwther given number is Asmstrong or not.

num=int(input("enter a number"))
sum=0
temp=num

while(num>0):
  rem=num%10
  sum=sum+rem**3
  num=num//10

if temp==sum:
   print(temp,"is an armstrong number")
else:
   print(temp,"is not a armstrong number")

In [ ]:
#program 5
#write a python which uterates the interger from 1 to 50. for multiplies of three print"fizz" instead of the numbers and for the numbers of five print "buzz", for numbers which are multiples of both three annd five print "fizzbuzz".

for i in range(1,50):
  if i%3==0 and i%5==0:
    print("FIZZBUZZ")
  elif i%3==0:
    print("fizz")
  elif i%5==0:
    print("buzz")
  else:
    print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
FIZZBUZZ
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
FIZZBUZZ
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
FIZZBUZZ
46
47
fizz
49

In [ ]:
#program 6
#write a program to check wheteher given number is perfect number or not

n=int(input("enter number :"))
sum=0
for i in range(1,n):
  if (n%i==0):
    sum+=i
if(n==sum):
  print(n,"is a perfect number")
else:
  print(n,"is not a perfect number")

break and continue statement

In [ ]:
x = 1
while(x<=10):
  print(x)
  x+=1
  if x>5:
    break
print("out of loop")

1
2
3
4
5
out of loop

In [ ]:
for i in range(1,101,1):
    print(i ,end=" ")
    if(i==50):
        break
    else:
        print("Mississippi")
print("Thank you")

1 Mississippi
2 Mississippi
3 Mississippi
4 Mississippi
5 Mississippi
6 Mississippi
7 Mississippi
8 Mississippi
9 Mississippi
10 Mississippi
11 Mississippi
12 Mississippi
13 Mississippi
14 Mississippi
15 Mississippi
16 Mississippi
17 Mississippi
18 Mississippi
19 Mississippi
20 Mississippi
21 Mississippi
22 Mississippi
23 Mississippi
24 Mississippi
25 Mississippi
26 Mississippi
27 Mississippi
28 Mississippi
29 Mississippi
30 Mississippi
31 Mississippi
32 Mississippi
33 Mississippi
34 Mississippi
35 Mississippi
36 Mississippi
37 Mississippi
38 Mississippi
39 Mississippi
40 Mississippi
41 Mississippi
42 Mississippi
43 Mississippi
44 Mississippi
45 Mississippi
46 Mississippi
47 Mississippi
48 Mississippi
49 Mississippi
50 Thank you

In [ ]:
for i in [2,3,4,6,8,0]:
    if (i%2!=0):
        continue
    print(i)

In [ ]:
#continue
x = 0
while(x<10):
  x+=1
  if x>5:
    continue
  print("x = ",x)
print("End")

x =  1
x =  2
x =  3
x =  4
x =  5
End

the else suite

In [ ]:
for i in range(5):
  print("yes")
else:
  print("no")

yes
yes
yes
yes
yes
no

In [ ]:
for i in range(0):
  print("yes")
else:
  print("no")

no

In [ ]:
#write a program to serach an element inn the list
grp1 = [12,23,34,45]
search = int(input("enter a element:"))
for element in grp1:
  if search == element:
    print("element found")
    break
else:
  print(" not found")

enter a element:67
 not found

#nested statement

In [ ]:
for i in range(4): #i values are from 0 to 3
  for j in range(5): #j value are from 0 to 4
    print("i =",i, '\t' ,"j=",j)

i = 0 	 j= 0
i = 0 	 j= 1
i = 0 	 j= 2
i = 0 	 j= 3
i = 0 	 j= 4
i = 1 	 j= 0
i = 1 	 j= 1
i = 1 	 j= 2
i = 1 	 j= 3
i = 1 	 j= 4
i = 2 	 j= 0
i = 2 	 j= 1
i = 2 	 j= 2
i = 2 	 j= 3
i = 2 	 j= 4
i = 3 	 j= 0
i = 3 	 j= 1
i = 3 	 j= 2
i = 3 	 j= 3
i = 3 	 j= 4

In [ ]:
# python program that display star in right angled tringular form
for i in range(1,11): #display number 1 to 10
  for j in range(1,1+i): #no of stars = no of rows
    print("*",end=" ")
  print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * * * *
* * * * * * * *
* * * * * * * * *
* * * * * * * * * *

In [ ]:
for i in range(11,1,-1): #display number 1 to 10
  for j in range(1,i-1): #no of stars = no of rows
    print("*",end=" ")
  print()

* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
# Number of rows
N = 5

# Outer loop runs N times, once for each row
for i in range(1, N + 1):
	# Inner loop prints 'N - i' spaces
	for j in range(1, N - i + 1):
		print(" ", end="")

	# Inner loop prints 'i' stars
	for j in range(1, i + 1):
		print("*", end="")
	# Move to the next line
	print()

    *
   **
  ***
 ****
*****

In [ ]:
#python program to form a equlateral program
n = 40
for i in range(1,11):
  print(' '*n,end='') #repeat space for n times
  print('* '*(i)) # repeat star for i times
  n-=1

                                        *
                                       * *
                                      * * *
                                     * * * *
                                    * * * * *
                                   * * * * * *
                                  * * * * * * *
                                 * * * * * * * *
                                * * * * * * * * *
                               * * * * * * * * * *

In [ ]:
for x in range(1,11):
  for y in range(1,11):
    print('{:8}'.format(x*y), end = " ")#each coloumb size is 8
  print()

       1        2        3        4        5        6        7        8        9       10
       2        4        6        8       10       12       14       16       18       20
       3        6        9       12       15       18       21       24       27       30
       4        8       12       16       20       24       28       32       36       40
       5       10       15       20       25       30       35       40       45       50
       6       12       18       24       30       36       42       48       54       60
       7       14       21       28       35       42       49       56       63       70
       8       16       24       32       40       48       56       64       72       80
       9       18       27       36       45       54       63       72       81       90
      10       20       30       40       50       60       70       80       90      100

In [ ]:
#a python program to check its a prime number or not
max = int(input("enter a number:"))
for num in range(2,max+1): # genarate a number from 2 to max+1
  for i in range(2,num): #generate a  number form 2 to num
      if(num%i)==0 : #if num is divisbile by i
         break # it is not prime,hence go back and check next num
  else:
    print(num)

enter a number:30
2
3
5
7
11
13
17
19
23
29

In [ ]:
#fibonaci
n = int(input("enter a number:"))
f1 = 0 #enter a first fibonaci number
f2 = 1 #enter a second number
c = 2 #counts the no of fibonaccis
if n==1:
  print(f1)
elif n==2:
  print(f1, '\n' ,f2, sep = '')
else :
  print(print(f1, '\n' ,f2, sep = ''))
  while c<n:
      f = f1+f2 #add two fibonaciss to get the new one
      print(f)
      f1,f2 = f2,f # this is same as f1=f2,f2=f
      c+=1

enter a number:10
0
1
None
1
2
3
5
8
13
21
34

In [ ]:
a = 0
b = 1
num = int(input("enter a number : "))
if num==1:
  print(a)
else:
  print(a, '\n', b,sep = '')
  for i in range(1,num+1):
    c = a+b
    print(c)
    a = b
    b = c

enter a number : 10
0
1
1
2
3
5
8
13
21
34
55
89

In [ ]:
#love calculator
name1  = input("enter a first name :")
name2 = input(" enter a second name :")
combine_strings = name1 + name2
lower_combine_strings = combine_strings.lower()
t = lower_combine_strings.count('t')
r = lower_combine_strings.count('r')
u = lower_combine_strings.count('u')
e = lower_combine_strings.count("e")
true = t+r+u+e
l = lower_combine_strings.count("l")
o = lower_combine_strings.count("o")
v = lower_combine_strings.count("v")
e = lower_combine_strings.count("e")
love = l+o+v+e
love_score = str(true)+str(love)
if (int(love_score) < 10 or int(love_score) > 90):
  print(f'Your score is {love_score} and you can go as long as coke and mentos')
elif int(love_score)>=40 or int(love_score)<=50:
  print(f'your score is {love_score} and your toghther is good')
else:
  print(f'your love score is {love_score}')

enter a first name :vinay kulkarni
 enter a second name :nikita mahakal
your score is 33 and your toghther is good

#list operation

In [ ]:
#creating a list
list1 = [12,23,34,45]
print(list1)
print(f'the first number in list is {list1[0]} and last number is {list1[3]}')

[12, 23, 34, 45]
the first number in list is 12 and last number is 45

In [ ]:
#list using range
lst = list(range(4,9,2))
print(lst)

[4, 6, 8]

In [ ]:
#Creating a list using range funtion
list1 = range(10)
for i in list1:
  print(i,end = ' ,')
print()

0 ,1 ,2 ,3 ,4 ,5 ,6 ,7 ,8 ,9 ,

In [ ]:
#list using while loop
i = o
while i<=len(list1):
  print(list1(i))
  i+=1

TypeError: 'range' object is not callable

In [ ]:
# write a program to acess the list using while and for loop
list1 = [10,20,30,40]
print("using while loop")
i = 0
while  i<len(list1):
  print(list1[i])
  i+=1

print("using a for loop")
for i in range(0,len(list1)):
  print(list1[i])

using while loop
10
20
30
40
using a for loop
10
20
30
40

# Functions in list :

In [ ]:
lst = list(range(0,5))
print(lst)

[0, 1, 2, 3, 4]

In [ ]:
#append
lst.append(9)
print(lst)
#update
lst[1] = 8
print(lst)
lst[1:3] = 10,
#delete
del lst[1]
print(1)
#lst.remove()
print(lst)
lst.reverse()
print(lst)

[0, 9]
[0, 8]
1
[0]
[0]

In [ ]:
#revrese the list using while loop
lst=list(range(1,5))
while i>=0: # i represents intinally 4.
 print(lst[i])
 i-=1

4
3
2
1

In [ ]:
#program to display the elements of list in reverse order
lst = ['sunday','monday','tuesday','wednesday','thrusday']
print("In reverse order")
i = -1
while i>=-len(lst):
  print(lst[i])
  i-=1

print('\nIn reverse order')
i = len(lst) - 1
while i>=0:
  print(lst[i])
  i-=1

In reverse order
thrusday
wednesday
tuesday
monday
sunday

In reverse order
thrusday
wednesday
tuesday
monday
sunday

In [ ]:
#concatention of list
x = list(range(1,5))
y = list(range(5,10))
sum = x + y
print(sum)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#repetion
print(x*2)

[1, 2, 3, 4, 1, 2, 3, 4]

In [ ]:
#member ship in list
x = list(range(1,5))
a = 4
print(a in x) # check if a is in list or not
# or
print( a not in x ) # check if a is in not in lst

True
False

In [ ]:
#coloning
x = list(range(1,5))
y= x
print(y)

[1, 2, 3, 4]

In [ ]:
num = list(range(10,60,10))
print(num)
num.append(60)
print(num)
num[3] = 80
n = len(num)
print(n)
num.insert(2,90)
print(num)
num1 = num.copy()
print(num1)
num.extend(num1)
print(num)
n = num.count(50)
print(n)
num.remove(80)
print(num)
num.pop()
print(num)
num.sort()
print(num)
n1 = max(num)
n2 = min(num)
print(n1,n2)
num.reverse()
print(num)
num.clear()
print(num)

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60]
6
[10, 20, 90, 30, 80, 50, 60]
[10, 20, 90, 30, 80, 50, 60]
[10, 20, 90, 30, 80, 50, 60, 10, 20, 90, 30, 80, 50, 60]
2
[10, 20, 90, 30, 50, 60, 10, 20, 90, 30, 80, 50, 60]
[10, 20, 90, 30, 50, 60, 10, 20, 90, 30, 80, 50]
[10, 10, 20, 20, 30, 30, 50, 50, 60, 80, 90, 90]
90 10
[90, 90, 80, 60, 50, 50, 30, 30, 20, 20, 10, 10]
[]

In [ ]:
# a python program to find the maximum and minimum number
x = []
print("how many elements ?", end  = ' ')
n = int(input())
for i in range(n):
  print('enter elemnt :', end = ' ' )
  x.append(int(input()))
print("the list is ",x)
big = x[0]
small = x[0]
for i in range(1,n):
  if x[i]>big:
    big = x[i]
  if x[i]<small:
    small = x[i]
print('maximum is',big)
print('minimun is ',small)

how many elements ? 5
enter elemnt : 12
enter elemnt : 23
enter elemnt : 34
enter elemnt : 45
enter elemnt : 56
the list is  [12, 23, 34, 45, 56]
maximum is 56
minimun is  12

RANDOM MODULE

In [ ]:
import random
a = random.randint(1,7)
print(a)
b = random.randrange(1,5)
print(b)
c = random.random()
print(c)
d = random.uniform(1,3)
print(d)
list1 = [1,2,3,4,5,6]
e = random.choice(list1)
print(e)
list1 = [12,23,45,56,67]
f = random.shuffle(list1)
print(list1)

1
3
0.1549286548834765
1.0254777222660383
1
[67, 12, 56, 45, 23]

In [ ]:
#virtual toes program
import random
side = random.randint(0,1)
print(side)
if side == 1:
  print("it is head")
else:
  print("it is tail")

1
it is head

In [ ]:
#write a program to whch will select a random name from a list who will pay the bill of the restutrant[BY ME]
import random
a,b,c,d = [x for x in input("enter any names:").split(",")]
names = [a,b,c,d]
n = len(names)
print(names)
choice = random.randrange(0,n)
print(choice)
if choice == 0:
  print("vinay will pay the bill")
elif choice == 1:
  print("riya will pay the bill")
elif choice == 2:
  print("niku will pay the bill")
else :
  print("arnav will pay the bill")

enter any names:vinay,riya,arnav,niku
['vinay', 'riya', 'arnav', 'niku']
2
niku will pay the bill

In [ ]:
# BY THE MADAM
import random
names = input("enter a names with seperated with coma :")
names_list = names.split(",")
print(names_list)
#n = len(names_list)
#random_selected = random.randint(1,n-1)
#print(random_selected)
person_selected = random.choice(names_list)
print(f'{person_selected} will pay the bill')

enter a names with seperated with coma :vinay,riya,arnav,niku
['vinay', 'riya', 'arnav', 'niku']
vinay will pay the bill

In [ ]:
#write a program to create a list with emoplyes data and then retreive a particular emp detalis
emp = []
n = int(input("how many empolyes ? "))
for i in range(n):
  print("enter id :",end = " ")
  emp.append(int(input()))
  print('enter a name :', end='')
  emp.append(input())
  print('enter salary :')
  emp.append(float(input()))
print('the list is created with employes data')
id = int(input('enter employes  id:'))
for i in range(len(emp)):
  if id==emp[i]:
     print(f'Id = {emp[i]},Name = {emp[i+1]},salary = {emp[i+2]}')
     break

how many empolyes ? 5
enter id : 12345
enter a name :vinay
enter salary :
150000
enter id : 374674
enter a name :niku
enter salary :
627266
enter id : 122323
enter a name :23837
enter salary :
293
enter id : 732337
enter a name :sam
enter salary :
938273
enter id : 827387
enter a name :om
enter salary :
83992
the list is created with employes data
enter employes  id:12345
Id = 12345,Name = vinay ,salary = 150000.0

NESTED LIST

In [ ]:
lst = [12,23,35,[12,23,34],78,93]
#n = len(lst)
print(lst[3])
print(lst[3][2])
print(lst[3][:])
print(lst[3][0:2])
print(lst[3][::2])

[12, 23, 34]
34
[12, 23, 34]
[12, 23]
[12, 34]

matrix list

In [ ]:
#exercise
row1 = ['😊','😊','😊']
row2 = ['😊','😊','😊']
row3 = ['😊','😊','😊']
matrix = [row1,row2,row3]
print(f'{row1}\n{row2}\n{row3}')
postion = (input("where to a hide a money :"))
row_number = int(postion[0])
coloumb_number = int(postion[1])
row_selected = matrix[row_number-1]
coloumb_selected = matrix[coloumb_number-1]
row_selected[coloumb_number-1] = 'x'
print(f'{row1}\n{row2}\n{row3}')

['😊', '😊', '😊']
['😊', '😊', '😊']
['😊', '😊', '😊']
where to a hide a money :32
['😊', '😊', '😊']
['😊', '😊', '😊']
['😊', 'x', '😊']

In [ ]:
#list comprehnsion
#write a program to create a list with squares of integers from 1 to 10
squares = []
for x in range(1,11):
  squares.append(x**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = [x**2 for x in range(1,11)]

In [ ]:
#rock,scissors and paper game
import random
user_choice = int(input("enter your choice : type 0 for rock,1 for paper , 2 for scissors ."))
comp_choice = random.randint(0,2)
if user_choice>=3 or user_choice<0:
  print('You entered a invalid number.')
else:
   print("computer Choice :")
   print(comp_choice)
   if comp_choice == user_choice :
    print("It's a draw")
   elif comp_choice == 0 and user_choice == 2:
    print("You lose")
   elif comp_choice == 2 and user_choice == 0:
    print('You win')
   elif comp_choice > user_choice:
    print("You lose")
   elif comp_choice < user_choice:
    print('You win')

enter your choice : type 0 for rock,1 for paper , 2 for scissors .2
computer Choice :
1
You win

#tuple

In [ ]:
tuple1 = (1,2,3,4)
tup2 = ('vinay',8,8.9)
print(type(tup2),'\n',tup2)

<class 'tuple'>
 ('vinay', 8, 8.9)

In [ ]:
#convert list to tuple
list1 = list(range(0,4))
tpl = tuple(list1)
print(list1,'\n',tpl)

[0, 1, 2, 3]
 (0, 1, 2, 3)

In [ ]:
print(tpl)
print(tpl[0])
print(tpl[0:2])
print(tpl[0::2])
print(tpl[::-1])

(0, 1, 2, 3)
0
(0, 1)
(0, 2)
(3, 2, 1, 0)

In [ ]:
#funtions in tuple
tpl = tuple(range(0,8,2))
print(tpl)
length = len(tpl)
print(length)
#minimun = min(tpl)
#print(minimum)
#maximum = max(tpl)
#print(maximum)
tpl.count(4)
print(tpl)
tpl.index(6)
print(tpl)
#tpl.sorted(tpl)
#print(tpl)

(0, 2, 4, 6)
4
(0, 2, 4, 6)
(0, 2, 4, 6)

In [ ]:
#program to evalute the sum of first occurence of the element
num = eval(input("enter a tuple in ()"))
n = len(num)
print(num)
sum = 0
for i in range(n):
   sum=sum+num[i]
print(f'sum of the number is {sum}')
print(f'average of the numbers is {sum/n}')

enter a tuple in ()12,23,34,4,5,56
(12, 23, 34, 4, 5, 56)
sum of the number is 134
average of the numbers is 22.333333333333332

#PASSWOED GENERATOR PROGRAM

In [ ]:
import random
letters = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z','A','B','C','D','E','F',
           'G','H','I','J','K','L','M','N','O','P','Q','R','S','T','U','V','W','X','Y','Z']
numbers = ['0','1','2','3','4','5','6','7','8','9']
symols = ['!','@','#','$','$','%','^','&','*','(',')']
print("Welcome To Password Generator")
n_letters = int(input("how many letters you want to print?\n"))
n_numbers = int(input("how many numbers you want to print?\n"))
n_symbols = int(input("how many symbols you want to print?\n"))
password= []
for i in range(1,n_letters+1):
  char = random.choice(letters)
  password += char
#print(password)
for i in range(1,n_numbers+1):
  char = random.choice(numbers)
  password += char
#print(password)
for i  in range(1,n_symbols):
  char = random.choice(symols)
  password += char
#print(password)
random.shuffle(password)
print(password)
password_final = ""
for char in password :
  password_final+=char
print(f'The generated password is {password_final}')

Welcome To Password Generator
how many letters you want to print?
5
how many numbers you want to print?
2
how many symbols you want to print?
2
['9', 'X', 'r', '@', 'N', '0', 'Z', 'b']
The generated password is 9Xr@N0Zb

# Hangman game project

In [ ]:
import random
print("Let's Start Game")
lives = 6
words = ['apple','beautiful','happy','sad']
choosen_word = random.choice(words)
#print(choosen_word)
blank = []
for i in range(len(choosen_word)) : # 0 1 2 3 4 5 #apple
  blank += '_'
print(blank)
game_over = False
while not game_over:
  guessed_letter = input("guess a letter : b").lower() #p_ _pp_ _
  for position in range(len(choosen_word)): #0 1 2 3 4
      letter = choosen_word[position]
      if letter==guessed_letter :
        blank[position] = guessed_letter
  print(blank)
  if(guessed_letter not in choosen_word):
     lives-=1
     if lives == 6:
      print("________      ")
      print("|      |      ")
      print("|             ")
      print("|             ")
      print("|             ")
      print("|             ")
     elif lives == 5:
      print("________      ")
      print("|      |      ")
      print("|      0      ")
      print("|             ")
      print("|             ")
      print("|             ")
     elif lives == 4:
      print("________      ")
      print("|      |      ")
      print("|      0      ")
      print("|     /       ")
      print("|             ")
      print("|             ")
     elif lives == 3:
      print("________      ")
      print("|      |      ")
      print("|      0      ")
      print("|     /|      ")
      print("|             ")
      print("|             ")
     elif lives == 2:
      print("________      ")
      print("|      |      ")
      print("|      0      ")
      print("|     /|\     ")
      print("|             ")
      print("|             ")
     elif lives == 1:
      print("________      ")
      print("|      |      ")
      print("|      0      ")
      print("|     /|\     ")
      print("|     /       ")
      print("|             ")
     else:
      print("________      ")
      print("|      |      ")
      print("|      0      ")
      print("|     /|\     ")
      print("|     / \     ")
      print("|             ")
     if lives == 0:
      game_over = True
      print("you lose !!")
     if '_' not in blank:
      game_over = True
      print("you win")

Let's Start Game
['_', '_', '_', '_', '_', '_', '_', '_', '_']
guess a letter : ba
['_', '_', 'a', '_', '_', '_', '_', '_', '_']
guess a letter : bz
['_', '_', 'a', '_', '_', '_', '_', '_', '_']
________
|      |
|      0
|
|
|
guess a letter : bq
['_', '_', 'a', '_', '_', '_', '_', '_', '_']
________
|      |
|      0
|     /
|
|
guess a letter : bz
['_', '_', 'a', '_', '_', '_', '_', '_', '_']
________
|      |
|      0
|     /|
|
|
guess a letter : bp
['_', '_', 'a', '_', '_', '_', '_', '_', '_']
________
|      |
|      0
|     /|\
|
|
guess a letter : bq
['_', '_', 'a', '_', '_', '_', '_', '_', '_']
________
|      |
|      0
|     /|\
|     /
|
guess a letter : bm
['_', '_', 'a', '_', '_', '_', '_', '_', '_']
________
|      |
|      0
|     /|\
|     / \
|
you lose !!

#methods in set

In [ ]:
s = {2, 4, 2, 6}
print(s)

info = {"Carla", 19, False, 5.9, 19}
print(info)

harry = set()
print(type(harry))

for value in info:
  print(value)
#union
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.union(cities2)
print(cities3)
#intersection
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.update(cities2)
print(cities)
#sysmettric_difference
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities3 = cities.symmetric_difference(cities2)
print(cities3)
#symmetric_difference_update()
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
cities.symmetric_difference_update(cities2)
print(cities)
#diffrence and difference update
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi"}
cities3 = cities.difference(cities2)
print(cities3)
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul", "Delhi"}
print(cities.difference(cities2))
#isdisjoint()
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Tokyo", "Seoul", "Kabul", "Madrid"}
print(cities.isdisjoint(cities2))
#issuperset():
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Seoul", "Kabul"}
print(cities.issuperset(cities2))
cities3 = {"Seoul", "Madrid","Kabul"}
print(cities.issuperset(cities3))
#issubbet
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Delhi", "Madrid"}
print(cities2.issubset(cities))
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Delhi", "Madrid"}
print(cities2.issubset(cities))
#add
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.add("Helsinki")
print(cities)
#update
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities2 = {"Helsinki", "Warsaw", "Seoul"}
cities.update(cities2)
print(cities)
#remove
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.remove("Tokyo")
print(cities)
#pop
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
item = cities.pop()
print(cities)
print(item)
#clear
cities = {"Tokyo", "Madrid", "Berlin", "Delhi"}
cities.clear()
print(cities)
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info)
#acessing single value
print(info['name'])
print(info.get('name'))

#acessing multipe values
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info.values())

#acessing keys
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info.items())

#dictionary

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info)
#acessing the values
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info['name'])
print(info.get('eligible'))
#acessing multiple values
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info.values())
#acessing keys
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info.keys())
#acessing key pairs
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info.items())

{'name': 'Karan', 'age': 19, 'eligible': True}
Karan
True
dict_values(['Karan', 19, True])
dict_keys(['name', 'age', 'eligible'])
dict_items([('name', 'Karan'), ('age', 19), ('eligible', True)])

In [ ]:
info = {'name':'Karan', 'age':19, 'eligible':True}
print(info)
print(info.keys())
print(info.values())

for key in info.keys():
   print(f"The value corresponding to the key {key} is {info[key]}")

print(info.items())
for key, value in info.items():
  print(f"The value corresponding to the key {key} is {value}")

{'name': 'Karan', 'age': 19, 'eligible': True}
dict_keys(['name', 'age', 'eligible'])
dict_values(['Karan', 19, True])
The value corresponding to the key name is Karan
The value corresponding to the key age is 19
The value corresponding to the key eligible is True
dict_items([('name', 'Karan'), ('age', 19), ('eligible', True)])
The value corresponding to the key name is Karan
The value corresponding to the key age is 19
The value corresponding to the key eligible is True

In [ ]:
#methods in dictionary
d1 = {'name':'vinay','id':9866,'salary':98398}
d2 = {'name1':'om','id1':9854,'salary1':98874}
(d1.update({"name":'priem'}))
print(d1)
(d1.fromkeys(d1['name']))
print(d1)
(d1.pop('id'))
print(d1)
print(d1.popitem())
print(d1)
print(d1.setdefault('name'))
print(d1.clear())

{'name': 'priem', 'id': 9866, 'salary': 98398}
{'name': 'priem', 'id': 9866, 'salary': 98398}
{'name': 'priem', 'salary': 98398}
('salary', 98398)
{'name': 'priem'}
priem
None

In [ ]:
#for loop with else
i = 0
while i<7:
  print(i)
  i = i + 1
  if i == 4:
     break
else:
  print("Sorry no i")

for x in range(5):
    print ("iteration no {} in for loop".format(x+1))
else:
    print ("else block in loop")
print ("Out of loop")

0
1
2
3
iteration no 1 in for loop
iteration no 2 in for loop
iteration no 3 in for loop
iteration no 4 in for loop
iteration no 5 in for loop
else block in loop
Out of loop

#FUNCTION

In [ ]:
#write a program to find sum of two numbers
def sum(a,b):
    """the function is formed to find the sum of two numbers"""
    c = a+b
    print(c)
sum(10,6)#call the function
sum(12.4,56.8)

16
69.2

In [ ]:
#write a program to return a function with addition program
def sum(a,b):
  c = a+b
  return c
sum1 = sum(7,6)
print(f'the sum is {sum1}')
sum2 = sum(12.3,34.5)
print(f'the sum is {sum2}')

the sum is 13
the sum is 46.8

In [ ]:
#write a program to find odd or even
def even_odd(n):
  if n % 2 ==0:
    print(f'{n} is even')
  else:
    print(f'{n} is odd')
even_odd(5)
even_odd(4)

5 is odd
4 is even

In [ ]:
#factorial program using function

def factorial(num):
    fac = 1
    i = 1
    while i<=num:
      fac*=i
      i+=1
    return fac
n = int(input(''))
for i in range(1,n+1):
  print(f'the factorial of {i} is {factorial(i)}')

8
the factorial of 1 is 1
the factorial of 2 is 2
the factorial of 3 is 6
the factorial of 4 is 24
the factorial of 5 is 120
the factorial of 6 is 720
the factorial of 7 is 5040
the factorial of 8 is 40320

In [ ]:
#write a program to know where prime or not
def prime(n):
  x = 1
  for i in range(2,n):
    if n%i==0:
      x = 0
      break
    else:
      x = 1
    return x
num = int(input("enter a number:"))
result = prime(num)
if result == 1:
  print(num,'is prime')
else:
  print(num, ' is not prime')

enter a number:7
7 is prime

In [ ]:
#return multiple values from the function
#program to sum and subtract
def sum_sub(a,b):
  c = a+b
  d = a-b
  return c,d
x,y = sum_sub(12,23)
z,q = sum_sub(12.4,45.6)
print(f'the addition of number is {x}')
print(f'the subtraction of number is {y}')
print(f'the addition of number is {z}')
print(f'the subtraction of number is {q}')

the addition of number is 35
the subtraction of number is -11
the addition of number is 58.0
the subtraction of number is -33.2

In [ ]:
#program to perform artimatic operation
def operation(a,b):
   add = a+b
   sub = a-b
   div = a/b
   mul = a*b
   return add,sub,div,mul
addition,subtraction,division,multiplication = operation(12,34)
print(addition,'\n',subtraction,'\n',multiplication,'\n',division)

46
 -22
 408
 0.35294117647058826

In [ ]:

#function are first class objects
# a program to see how to assign a function to a  variable

def display(str):
  return 'hai' +str
  x = display("krishna")
  print(x)

In [ ]:
#A program to know how to define a function inside another function
def display(str):
  def message():
    return "how are u?"

  result = message()+str
  return result
print(display("krishna"))

how are u?krishna

In [ ]:
#a program to know how to pass a argument to another function
def display(fun):
  return 'hai'+fun
def message():
  return "how are u ? "
print(display(message()))

haihow are u ?

In [ ]:
# types of argumnets
#1. program to understand postional arguments
def attach(s1,s2):
  s3 = s1+s2
  print(s3)
attach('new','york') # postional argument

newyork

In [ ]:
#2. program to understand keyword arguments
def person(name,age):
  print(name)
  print(age)
person(age = 28,name = 'vinay')

vinay
28

In [ ]:
#program to make grocery list using keyword argument
def grocery(item,price):
  print('item = ',item)
  print('price = ',price)
grocery(item ='oil',price = 80)
grocery(item = 'sugar',price = 120)

item =  oil
price =  80
item =  sugar
price =  120

In [ ]:
#default arguments
def grocery(item,price = 90):
  print(item)
  print(price)
grocery(item = 'sugar',price = 100)
grocery(item = 'oil')#default  argument

sugar
100
oil
90

In [ ]:
#variable length arguments
def add(a,*b):
  c = a
  for i in b:
    c+=i
  print(c)
  print(*b)
add(6,4,5,6,7)

28
4 5 6 7

In [ ]:
# A program to variable length argumnet
def add(farg,*args):
  print('formal argument = ',farg)
  sum = farg
  for i in args:
    sum+=i
  print('sum of all numbers = ',sum)
add(12,344,45,56)

formal argument =  12
sum of all numbers =  457

In [ ]:
#keyword variable length argumnet
def display(farg,**kwargs):
  print("formal argument =",farg)
  for i,j in kwargs.items():
    print(f'{i} = {j}')
display('vinay',rollno = 56,std = '3rdyear')

formal argument = vinay
rollno = 56
std = 3rdyear

In [ ]:
#local variable
def my_function():
  a = 1 #local varibale
  a +=1
  print(a)
my_function()
#print(a) #show error because of local variable

2

In [ ]:
#global variable
a = 1 #global varibale
def func():
  b = 2 #local variable
  print('a = ',a)
  print('b = ',b)
func()
print(a) #avialable
#print(b) #error

a =  1
b =  2
1

In [ ]:
# a program to understand local and global variable
#same name varaiable
a = 1
def s():
  a = 2
  print('a = ',a)#display local
s()
print(a)#display global

a =  2
1

In [ ]:
# a program to access global variable inside a fuction with same name
a = 1 #global
def f():
  global a #this is global variable
  print('a = ',a)
  a = 2 #modify global varibale
  print('a = ',a)
f()
print(a)

a =  1
a =  2
2

In [ ]:
# a program to get a copy of gloabl varibale into a function and work on it
a = 1
def f():
  a = 2
  x = globals()['a'] #get global var into x
  print('global var a = ',x)
  print('local var a = ',a)

f()
print('global var a = ',a)

global var a =  1
local var a =  2
global var a =  1

In [ ]:
#passing a group of elements to a function
# a function to accept a group of numbers and find their total average
def calculate(lst):
  n = len(lst)
  sum = 0
  for i in lst:
    sum+=i
    avg = sum/n
    return sum,avg
print("enter a numbers separeted from keyword")
lst = [int(x) for x in input().split()]
x,y = calculate(lst)
print(f'average of list is {x}')
print(f'sum of the list is {y}')

enter a numbers separeted from keyword
12 45 56 78 45
average of list is 12
sum of the list is 2.4

In [ ]:
# A function to display group of strings
def display(lst):
  for i in lst:
    print(i)
print("enter a group a of names in str :")
lst = [x for x in input().split(',') ]
display(lst)

enter a group a of names in str :
vinay,niku,sam,om,vaibhav,pratham
vinay
niku
sam
om
vaibhav
pratham

In [ ]:
# write a code to display even and odd in lst
def even_odd(lst):
 even = 0
 odd = 0
 for i in lst:
   if i%2==0:
     even+=1
   else:
     odd+=1
 return even,odd
lst = [12,23,34,45,5,56,67]
even,odd = even_odd(lst)
print(f'even : {even} and odd : {odd}')

even : 3 and odd : 4

In [ ]:
def count1(lst):
 count = 0
 n = len(lst)
 for i in range(n):
   if len(lst[i]) > 5:
    count+=1
 return count
print("enter a name:")
lst = [x for x in input().split(',')]
count1(lst)

enter a name:
vinay

0

In [ ]:
#fibonacci series
def fib(n):
  a = 0
  b = 1
  if n < 0:
    print("its invalid")
  elif n == 1:
    print(a)
  else:
   print(a)
   print(b)
  for i in range(2,n):
    print(a+b)
    c=a+b
    a=b
    b=c
    if c > 100:
       print(c)
       break
fib(int(input('enter a numbers:')))

enter a numbers:100
0
1
1
2
3
5
8
13
21
34
55
89
144
144

In [ ]:
#facrtorial
def factorial(n):
  fac = 1
  for i in range(1,n+1):
    fac*=i
    print(f'the factorail of {i} is {fac}')
factorial(int(input("enter a number:")))

enter a number:5
the factorail of 1 is 1
the factorail of 2 is 2
the factorail of 3 is 6
the factorail of 4 is 24
the factorail of 5 is 120

In [ ]:
#recurssion : the function call itself into the function
#example:
import sys
def greet():

  print('hello')
  greet()

In [ ]:
#factorial using recusrive function
def fac(n):
  if n == 1:
    return 1
  return n*fac(n-1)
n = int(input('enter any value:'))
for i in range(1,n+1):
 print(f'the factorial of {i} is {fac(i)}')

enter any value:10
the factorial of 1 is 1
the factorial of 2 is 2
the factorial of 3 is 6
the factorial of 4 is 24
the factorial of 5 is 120
the factorial of 6 is 720
the factorial of 7 is 5040
the factorial of 8 is 40320
the factorial of 9 is 362880
the factorial of 10 is 3628800

In [ ]:
# program to solve towers of hanoi
def towers(n,a,c,b):
  if n==1: # if only 1 disk,then move it from a to c
    print('move 1 disk from',a,'to', c)
  else: # if we have more than 1 disk
   #move first n -1 disks from a to b using c as intermeadiate pole
   towers(n-1,a,b,c)
   #move remaining 1 disk from a to c
   print(f'move disk{n} from {a} to {c}')
   towers(n-1,b,c,a)
n = int(input('enter a value:'))
towers(n,'a','c',"b")

enter a value:3
move 1 disk from a to c
move disk2 from a to b
move 1 disk from c to b
move disk3 from a to c
move 1 disk from b to a
move disk2 from b to c
move 1 disk from a to c

In [ ]:
#Lambda function
# write a program to create a lambda functiion that returns a square value..
f = lambda x:x*x
value = f(5)
print(value)

25

In [ ]:
#addition of two numbers
f = lambda x,y:x+y
value = f(6,7)
print(value)

13

In [ ]:
#program to find a bigger number in two given number
f = lambda x,y:x if x>y else y
a, b = [int(x) for x in input('enter two number:').split(',')]
print('bigger number = ',max(a,b))

enter two number:12,35
bigger number =  35

In [ ]:
#filter function using lambda
def is_even(n):
  return n%2==0
nums = [12,23,34,45,56,67]
evens  = list(filter(is_even,nums))
print(evens)

[12, 34, 56]

In [ ]:
#using lmabda funnction
lst = [12,34,45,89,21]
evens = list(filter(lambda n : n%2==0,lst))
print(evens)

[12, 34]

In [ ]:
#using map function
lst = [12,23,34,45,56,98]
doubles = list(map(lambda n : n*2,lst))
print(doubles)

[24, 46, 68, 90, 112, 196]

In [ ]:
#use reduce function
from functools import reduce
print(doubles)
result = reduce(lambda x,y:x*y,doubles)
print(result)

[24, 46, 68, 90, 112, 196]
148318248960

In [ ]:
#decorators function
def div(a,b):
 print(a/b)

def smart_dev(func):
  def inner(a,b):
   if a<b:
    a,b=b,a
    return func(a,b)
  return inner

div = smart_dev(div)
div(2,4)

2.0

In [ ]:
#a decorator to increase the value of function by 2
def decor(fun):
  def inner():
   value = fun()
   return value + 2
  return inner
def num():
  return 10
result_fun = decor(num)
print(result_fun())

12

In [ ]:
#genators in python
# a program to create a generator that returns a  sequence of nunmbers for x to y
def mygen(x,y):
  while x<=y:
    yield x
    x+=1
g  = mygen(12,20)
for i in g:
  print(i,end = " ")

12 13 14 15 16 17 18 19 20

In [ ]:
#the speical varibale "__name__"
from google.colab import files
def display():
  print('hello world')
if __name__ == '__main__':
  display()
  print("this code is run in a program ")
else:
  print('the code is run in a module')

hello world
this code is run in a program

#expection handling

In [ ]:
# to program to handle error statement in a program with keyword
a = 10
b = 2

try: #this keyword is used to try the run the block of code if it run it doesnt shoe error
  print('resource open')
  print(a/b)
  k = int(input('enter a value:'))
  print(k)
except ZeroDivisionError as e: # this keyword is used when try show the error and u need to handle it..
  print('Hey, We cannot divide with zero',e)
except ValueError as e:
  print("Hey,Invalid Input",e)
except Exception as e:
  print("s,othing went wrong...")
finally: # it runs code its shows error or not
  print("resuorces close")

resource open
5.0
enter a value:6
6
resuorces close

#file handling

In [ ]:
#file  handling
# a program to create a text file to store indivual charcters
f = open("myfile.txt",'w')
str = input('enter a text:')
f.write(str)
f.close

enter a text:vinay

In [ ]:
# a python program to read charcters from a text file
f = open('myfile.txt','r')
str = f.read()
print(f.readline())
print(str)
f.close()

vinay
no

In [ ]:
f = open('myfile.txt','r')
print(f)
f1=open('myfile1.txt','w')
f1.write('something,\n,people laptop')
for data in f:
  f1.write(data)

<_io.TextIOWrapper name='myfile.txt' mode='r' encoding='UTF-8'>

In [ ]:
f = open('img.jpg','rb') #it is binary mode so read binary:rb
f1 = open('mypic','wb')
for i in f:
  f1.write(i)

#Object Oreinted Programming

In [ ]:
#class and object
class computer: # intizaling the class
  #the below line difine a method
  def config(self): #method define in class
    print("im a computer")
a = 8
print(type(a)) #another object in class known as base class
b = 'usdh'
print(type(b))
comp1 = computer() # object difine
comp2 = computer()
computer.config(comp1) #method called by classname
comp2.config() #method define by intance name and parenthesis contain the object difine

<class 'int'>
<class 'str'>
im a computer
im a computer

In [ ]:
#intalize speical variable..
class student:
  def __init__(self): #attributes
    self.name = input('enter a name:')
    self.age = int(input("enter a age:"))
    self.marks = int(input("enter a marks:"))
  def talk(self): #actons
   print("hi , I'm ",self.name)
   print("my age is",self.age)
   print('my marks are ', self.marks)
s1 = student()
s2 = student()

s1.talk()
s2.talk()

enter a name:inay
enter a age:65
enter a marks:87
enter a name:om
enter a age:31
enter a marks:98
hi , I'm  inay
my age is 65
my marks are  87
hi , I'm  om
my age is 31
my marks are  98

In [ ]:
#the self variable
class student():
  pass
s1 = student() #contains the memory adress of the  object
def __int__(self): # used as a first parameter in the constructor
def talk(self): # used as a first parameter in the object methods

SyntaxError: incomplete input (<ipython-input-1-f7b7af7a438d>, line 2)

In [ ]:
#constructor
# a program to create a studenet class with a constrotor having more than one parameter
class student:
    def __init__(self, n ='', m = 0): #constructor
       self.name = n
       self.marks = m
    def display(self):
        print("hi",self.name)
        print("marks :",self.marks)

s = student()
s.display() # constructor is called without any argument
print('-------------------')
s1 = student('vinay',80)
s1.display() # constructor is called with 2 arguments
print("-------------------")

hi
marks : 0
-------------------
hi vinay
marks : 80
-------------------

In [ ]:
#types of variables
# a program to understand instance variable
class sample:
  def __init__(self):
    self.x = 10
  def modify(self):
    self.x+=1
s1 = sample()
s2 = sample()
print('x in s1=',s1.x)
print('x in s2=',s2.x)

s1.modify()
print('x in s1=',s1.x)
print('x in s2=',s2.x)

x in s1= 10
x in s2= 10
x in s1= 11
x in s2= 10

In [ ]:
class car:
  def __init__(self):
     self.com = "Bmw"
     self.mil = 10
c1 = car()
c2 = car()
c2.mil = 9
print(c1.com,c1.mil)
print(c2.com,c2.mil)

Bmw 10
Bmw 9

In [ ]:
#class varaibles
class car:
  wheels = 4 # class var
  def __init__(self):
     self.com = "Bmw"
     self.mil = 10
c1 = car()
c2 = car()
c2.mil = 9 #modify instance variable respect to object...
car.wheels = 5 # modify class variable changes in all the copies of it
print(c1.com,c1.mil,c1.wheels)
print(c2.com,c2.mil,c2.wheels)

Bmw 10 5
Bmw 9 5

In [ ]:
#types of method
# a program using a student class with instance method to process the data
class student:
   def __init__(self,n='',m=0):
    self.name = n
    self.marks = m
   """ this is instance method"""
   def display(self):
    print('hi',self.name)
    print('Your marks',self.marks)
   ''' to  calcluate grades based on marks'''
   def calculate(self):
    if(self.marks>=600):
      print('you got first grade')
    elif(self.marks>=450):
      print('you got second grade')
    elif(self.marks>=300):
      print('you got c grade')
    else:
      print('you got failed')
#create an instances with some data
n = int(input("how many students?"))

i=0
while i<n:
  name = input(f'enter a name{i+1}:')
  marks = int(input(f'enter a marks{i+1}:'))
  s = student(name,marks)
  s.display()
  s.calculate()
  i+=1
  print("------------------")

how many students?3
enter a name1:vinay
enter a marks1:300
hi vinay
Your marks 300
you got c grade
------------------
enter a name2:om
enter a marks2:4000
hi om
Your marks 4000
you got first grade
------------------
enter a name3:vaibs
enter a marks3:300
hi vaibs
Your marks 300
you got c grade
------------------

In [ ]:
# a program to explain mututor and accessor
class student:
  #mutator method
  def setname(self , name):
    self.name = name
  #accessor method
  def getname(self):
    return self.name
  def setmarks(self , marks):
    self.marks = marks
  def getmarks(self):
    return self.marks
s = student()
s.setname("vinay")
s.setmarks(80)
print('hi',s.getname())
print('your marks',s.getmarks())

hi vinay
your marks 80

In [ ]:
#a class mathod
class student:
  school = 'vinay'

  @classmethod
  def getschool(cls):
    return cls.school

  @staticmethod
  def info():
    print("this is a student class")
print(student.getschool())
student.info()

vinay
this is a student class

In [ ]:
#Inner class
# A python program to create dob class within person
class person:
  def __init__(self):
    self.name = 'charles'
    self.db = self.dob()
  def display(self):
    print('name = ',self.name)
  #this is inner class
  class dob():
    def __init__(self):
      self.dd = 10
      self.mm = 12
      self.yy = 2003
    def display(self):
      print(f'dob = {self.dd}/{self.mm}/{self.yy}')
#create a outer class object
p = person()
p.display()
#create inner class object
x = p.db
x.display()

name =  charles
dob = 10/12/2003

In [ ]:
# program to show student using latop specification
class student:
  def __init__(self,name,age):
    self.name = name
    self.age = age
  def show(self):
    print(f'Hi {self.name},\nIm {self.age} years old')
  class laptop:
    def __init__(self):
      self.name = 'hp,'
      self.ram = '8gb'
    def show(self):
      print('details = ',self.name,self.ram)
s1 = student('vinay',21)
s1.show()
lap1 = student.laptop() # creating a inner class object
lap1.show()

Hi vinay,
Im 21 years old
details =  hp, 8gb

In [ ]:
#Inhertaince
class A:
  def feature1(self):
    print('feature 1 is working')

  def feature2(self):
    print('feature 2 is working')
class B(A):
  def feature3(self):
    print('feature 3 is working')

  def feature4(self):
    print('feature 4 is working')
s = B()
s.feature1()
s.feature2()
s.feature3()
s.feature4()

feature 1 is working
feature 2 is working
feature 3 is working
feature 4 is working

In [ ]:
#constructor in inhertiance
# A python program to acess the base class
class father: #baseclass
  def __init__(self):
    self.property = 800000.00
  def display(self):
    print('Fathers property = ',self.property)
class son(father):# subclass
  pass # we do not want to write anything in the sub class
s = son() # sub class object and display father's property
s.display()

Fathers property =  800000.0

In [ ]:
#overriding Super class constructors and Methods
#ovrriding the base class constructor and method in sub class
class Father:
  def __init__(self):
    self.property = 800000.00
  def display(self):
    print('fathers property = ',self.property)
class son(Father):
  def __init__(self):
    self.property = 200000.00
  def display(self):
    print('child\'s property = ',self.property)
s = son()
s.display()

child's property =  200000.0

In [ ]:
#Super() methods
# a program to call the super class constructor in the sub class usning super()
class Father:
  def __init__(self,property):
    self.property = property
  def display(self):
    print('fathers property = ',self.property)
class son(Father):
  def __init__(self,property1,property):
   super().__init__(property)
   self.property1 = property
  def display(self):
    print('total child\'s property = ',self.property+self.property1)
s = son(200000.00,800000.00)
s.display()

total child's property =  1600000.0

In [ ]:
# a program to acess base class constructor and methods in the sub class
class square:
  def __init__(self,x):
    self.x = x
  def area(self):
    print("area of sqaure = ",self.x*self.x)
class rectangle(square):
  def __init__(self, x ,y):
    super().__init__(x)
    self.y = y
  def area(self):
    super().area()
    print("area of reactangle = ",self.x*self.y)
a, b = 12,34
r = rectangle(a,b)
r.area()

area of sqaure =  144
area of reactangle =  408

In [ ]:
# Types of Inheritance
# a program showing single inhertance in which two sub classes are derived from base class
class bank(object):
 cash = 1000000
 @classmethod
 def available_cash(cls):
  print(cls.cash)
class andrabank(bank):
  pass
class statebank(andrabank):
  cash = 20000000
  def avilable_cash(cls):
   print(cls.cash + bank.cash)
a = andrabank()
a.available_cash()

s = statebank()
s.available_cash()

1000000
20000000

In [ ]:
class A:
  def feature1(self):
    print('feature 1 is working')

  def feature2(self):
    print('feature 2 is working')
class B(A):
  def feature3(self):
    print('feature 3 is working')

  def feature4(self):
    print('feature 4 is working')
class C(B):
  def feature5(self):
    print('feature 5 is working')
c1 = C()
c1.feature1()

feature 1 is working

In [ ]:
#multiple inhertiance
#example
class A:
  def feature1(self):
    print('feature 1 is working')

  def feature2(self):
    print('feature 2 is working')
class B:
  def feature3(self):
    print('feature 3 is working')

  def feature4(self):
    print('feature 4 is working')
class C(A,B): # multiple inhertiance
  def feature5(self):
    print('feature 5 is working')
c1 = C()
c1.feature1()
c1.feature2()
b1 = B()
b1.feature3()
b1.feature4()

feature 1 is working
feature 2 is working
feature 3 is working
feature 4 is working

In [ ]:
class father:
  def height(self):
    print('height is 6.0 feet')
class mother:
  def color(self):
    print('color is brown')
class child(father,mother):
  pass
c1 = child()
c1.height()
c1.color()

height is 6.0 feet
color is brown

In [ ]:
# a program to acess all the instance varibale of the both base classses
class A:
  def __init__(self):
    self.a = 'a'
    print(self.a)
    super().__init__()
class B:
  def __init__(self):
    self.b = "b"
    print(self.b)
    super().__init__()
class C(A,B):
  def __init__(self):
    self.c = 'c'
    print(self.c)
    super().__init__()
o = C()

c
a
b

In [ ]:
#method order resolution
#multiple inhertiance with sereval clases
class A:
  def method(self):
    print('a class method')
    super().method()
class B:
  def method(self):
    print('b class method')
    super().method()
class C:
  def method(self):
    print('c class method')

class X(A,C):
  def method(self):
    print('X class method')
    super().method()
class Y(B,C):
  def method(self):
    print('Y class method')
    super().method()
class P(X,Y,C):
  def method(self):
    print('P class method')
    super().method()
p = P()
p.method()

P class method
X class method
a class method
Y class method
b class method
c class method

In [ ]:
#polymorphism
""" 1. duck typing """
# a program to invoke a method on an object without knowing the class of the objct
#duck typing

class duck:
  def talk(self):
    print('Quack, quack!')

class human:
  def talk(self):
    print('hi, hello')

def call_talk(get):
  get.talk()

x = duck()
call_talk(x)
x = human()
call_talk(x)

Quack, quack!
hi, hello

In [ ]:
class pycharm:
  def excute(self):
    print('compling running')
class myeditor:
  def excute(self):
    print('complie')
    print('running')
    print('error detection')
class laptop:
  def code(self,ide):
    ide.excute()

ide = pycharm()
ide1 = myeditor()
lap1 = laptop()
lap2 = laptop()
lap1.code(ide)
lap2.code(ide1)

compling running
complie
running
error detection

In [ ]:
#operator overloading
#using + opertor on objects
class bookx:
  def __init__(self,pages):
    self.pages = pages
class booky:
  def __init__(self,pages):
    self.pages = pages
b1 = bookx(100)
b2 = booky(150)
b3 = b1 + b2
print(b3)

TypeError: unsupported operand type(s) for +: 'bookx' and 'booky'

In [ ]:
# a program to overload the addition operator(+) to make it acts on the class object..
class bookx:
  def __init__(self,pages):
    self.pages = pages

  def __add__(self,other):
    return self.pages + other.pages
class booky:
  def __init__(self,pages):
    self.pages = pages

b1 = bookx(100)
b2 = booky(150)
print(b1+b2)

250

In [ ]:
# add to objects
class student:
  def __init__(self,m1,m2):
    self.m1 = m1
    self.m2 = m2

  def __add__(self,other):
    m1 = self.m1 + other.m1
    m2 = self.m2 + other.m2
    s3 = student(m1,m2)
    return s3
s1 = student(12,34)
s2 = student(23,45)
s3 = s1 + s2
print(s3.m1)
print(s3.m2)

35
79

In [ ]:
# a python program to overload greater than (>)
class ramayan:
  def __init__(self,pages):
    self.pages = pages
  def __gt__(self,other):
    return self.pages > other.pages
class mahabharat:
  def __init__(self,pages):
    self.pages = pages
R1 = ramayan(120)
M1 = mahabharat(200)
if(R1>M1):
  print('ramayan has more pages')
else:
  print('mahabharat has more pages')

mahabharat has more pages

In [ ]:
#USING (#) OPERATOR
class student:
  def __init__(self,m1,m2):
    self.m1 = m1
    self.m2 = m2
  def __mul__(self,other):
    m1 =  self.m1 * other.m1
    m2 =  self.m2 * other.m2
    s3 = student(m1,m2)
    return s3
s1 = student(12,34)
s2 = student(23,45)
s3 = s1 * s2
print(s3.m1)
print(s3.m2)

276
1530

In [ ]:
#vector problem
class vector:
  def __init__(self,i,j,k):
    self.i = i
    self.j = j
    self.k = k
  def __str__(self):
    return f'{self.i}i + {self.j}j + {self.k}k'
  def __add__(self,other):
    return vector(self.i + other.i , self.j+other.j , self.k + other.k)
v1 = vector(12,23,34)
print(v)
v2 = vector(23,34,45)
print( v2)
print('vector addition = ',v1+v2)
print(type(v1+v2))

12i + 23j + 34k
23i + 34j + 45k
vector addition =  35i + 57j + 79k
<class '__main__.vector'>

In [ ]:
# method overloading
# add  numbers
class myclass:
  def sum(self,a = None,b = None,c = None):
    if a!=None and b!=None and c!=None:
       print('sum of three=', a+b+c)
    elif a!=None and b!= None:
       print('sum of two =',a+b)
    else:
       print('enter two or three argument')
c = myclass()
c.sum(10,15,20)
c.sum(10.5,20.5)
c.sum(100)

sum of three= 45
sum of two = 31.0
enter two or three argument

In [ ]:
#method overiding
class Sqaure:
  def area(self,x):
    print('area of square:',x*x)
class circle(Sqaure):
  def area(self,x):
    print('circle area =',3.14*x**2)
ar = circle()
ar.area(12)

circle area = 452.16

In [ ]:
#abtract class and interfaces
# a program  to show abtract class and sub class
from abc import ABC , abstractmethod
class Myclass(ABC):
  @abstractmethod
  def calculate(self,x):
   pass
# this is sub class
class sub1(Myclass):
  def calculate(self,x):
    print('square value = ',x*x)
#this is second sub class
import math
class sub2(Myclass):
  def calculate(self,x):
    print("sqaure root = ",math.sqrt(x))
obj1 = sub1()
obj1.calculate(12)
obj2 = sub2()
obj1.calculate(36)

square value =  144
square value =  1296

In [ ]:
#iterator
data = [23,45,56,67,78]
i = iter(data)
print(next(i))
#or
print(i.__next__())

23
45

In [ ]:
#iterator define in a class
# print topten element
class topten:
  def __init__(self):
     self.num = 1
  def __iter__(self):
    return self
  def __next__(self):
    if self.num <= 10:
     val = self.num
     self.num+=1
     return val
    else:
     raise StopIteration
values = topten()
for i in values:
  print(i)

1
2
3
4
5
6
7
8
9
10